* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
}

html, body {
  padding: 0;
  color: #414141;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.28;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map iframe {
  height: 100%;
  width: 100%;
}

.btn-wrapper {
  padding: 16px;
  text-align: right;
}

.btn-wrapper button {
  margin-bottom: 8px;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  background-color: rgba(255,255,255, 0.80);
  color: black;
}

.text-wrapper {
  float: left;
}

.text-wrapper h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}
.text-wrapper p {
  font-size: 18px;
}
