* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
}

html, body {
  padding: 0;
  color: #414141;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.28;
}

.map {
  height: 420px;
}

.btn {
  margin: 30px auto;
}
